<.live_component module={ListContainerComponent} id={"dln-main"}>
  <%= if @deck do %>
    <div id="dln-deck" class="DealingDeck" phx-update={phx_update(@card_list_update)}>
      <%= for card_assigns <- @card_list_assigns do %>
        <.live_component module={CardsDemoWeb.Dealing.CardComponent} {card_assigns} />
      <% end %>
    </div>
  <% end %>
</.live_component>
